.CrimePage{
    height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
    overflow: hidden;
}
.CrimePage section{
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 450px;
}
.cp_d1{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 20px;
}
.cp_d2{
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 15px;
    box-sizing: border-box;
}
.CrimePage_Form{
    height: 300px;
    width: 100%;
}
.cp_title{
    font-size: 19px;
    font-weight: 500;
    color: #000;
}
.cp_title span{
    color: #FF2365;
}
.CrimePage_Form textarea{
    height: 200px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 7px;
    font-size: 17px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
}
.CrimePage_Form textarea:focus{
    outline: 1px solid #FF2365;
}
.uploadphoto_div{
    padding-top: 20px;
    padding-bottom: 15px;
}
.upload_photoButton{
    height: 45px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.upload_photoButton label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.upload_photoButton input{
    display: none;
}
.upload_photoButton p{
    font-size: 17px;
    color: #000;
    font-weight: 500;
    padding-left: 10px;
}
.upPhotoImg{
    height: 70px;
    width: 70px;
    border-radius: 7px;
    background-color: #f0f0f0;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.post_update_button{
    height: 45px;
    width: 100%;
    margin-top: 15px;
    border-radius: 7px;
    background-color: #FF2365;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.CrimePost{
    max-height: 200px;
    width: 550px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.readMore{
    max-height: 5000px;
    transition: max-height 1s ease-in;
}
.CrimePost_header{
    padding: 10px 0 ;
    width: 100%;
    border-bottom: 1.5px solid #dddddd;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.CrimePost_header p{
    font-size: 17px;
    font-weight: 500px;
    color: #000;
    margin: 0;
}
.cph_s{
    height: 20px;
    width: 3px;
    background-color: #FF2365;
    margin-right: 15px;
    margin-left: 15px;
}
.readMore .CrimePost_container{
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 200px;
}
.readMore .CrimePost_container p{
    font-size: 16px;
    color: #000;
    margin: 0;
    padding-right: 20px;
}
.CrimePost_container .cc_img{
    display: none;
}
.readMore .CrimePost_container .cc_img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f9f9f9;
    display: block;
}
.CrimePost_bottom{
    padding-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.readMore_button{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.readMore_button p{
    margin: 0;
    font-weight: 500;
    color: #FF2365;
}
.readmore_icon{
    padding-top: 4px;
}
.vote_container{
    height: 30px;
    width: fit-content;
    padding: 0 15px;
    border-radius: 15px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rmb_div{
    display: grid;
    justify-content: flex-end;
}
.vote_container_icon{
    padding-right: 10px;
    color: rgb(124, 124, 124);
}
.vote_container p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 124, 124);
}
.liked{
    background-color: #FF2365;
}
.liked p{
    color: #fff;
}
.liked .vote_container_icon{
    color: #fff;
    animation: liked 1s ease forwards;
}
@keyframes liked {
    0%{transform: scale(0);}
    50%{transform: scale(2);}
    100%{transform: scale(1);}
}
.errorMessage{
    color: red;
    font-size: 16px;
    margin: 0;
}

/* location div styles */
.LocationDiv{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.Location_div{
    border-radius: 10px;
    width: 400px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    padding: 15px 15px;
    padding-bottom: 20px;
    box-sizing: border-box;
    animation: slideIn 0.4s ease forwards;
}
@keyframes slideIn {
    0%{transform: translateY(-400px);}
    100%{transform: translateY(0);}
}
.Location_div_top{
    width: 100%;
}
.Location_div_top p{
    font-size: 30px;
    font-weight: 500;
    margin: 7px 0px;
}
.Location_div_input{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Location_pin{
    padding-right: 10px;
}
select{
    flex: 1;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 7px;
    border: none;
    padding: 0 10px;
    font-size: 17px;
    outline: none;
}
section:focus{
    border: 2px solid #FF2365;
}
.LocationUpdateButton{
    height: 40px;
    width: 100%;
    background-color: #FF2365;
    border-radius: 7px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-top: 40px;
}