.CrimePage{
    height: 100vh;
    width: 100vw;
    background-color: #f9f9f9;
}
.CrimePage section{
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 450px;
}
.cp_d1{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.cp_d2{
    height: 100%;
    width: 100%;
    background-color: #fff;
    padding: 0 15px;
    box-sizing: border-box;
}
.CrimePage_Form{
    height: 300px;
    width: 100%;
}
.cp_title{
    font-size: 19px;
    font-weight: 500;
    color: #000;
}
.cp_title span{
    color: #FF2365;
}
.CrimePage_Form textarea{
    height: 200px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 7px;
    font-size: 17px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
}
.CrimePage_Form textarea:focus{
    outline: 1px solid #FF2365;
}
.uploadphoto_div{
    padding-top: 20px;
    padding-bottom: 30px;
}
.upload_photoButton{
    height: 45px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #b8b8b8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload_photoButton p{
    font-size: 17px;
    color: #000;
    font-weight: 500;
    padding-left: 10px;
}
.post_update_button{
    height: 45px;
    width: 100%;
    border-radius: 7px;
    background-color: #FF2365;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.CrimePost{
    width: 550px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding: 0 15px;
    box-sizing: border-box;
}
.readMore{
    background-color: red;
}
.CrimePost_header{
    padding: 10px 0 ;
    width: 100%;
    border-bottom: 1.5px solid #dddddd;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.CrimePost_header p{
    font-size: 17px;
    font-weight: 500px;
    color: #000;
    margin: 0;
}
.cph_s{
    height: 20px;
    width: 3px;
    background-color: #FF2365;
    margin-right: 15px;
    margin-left: 15px;
}
.CrimePost_container{
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 200px;
}
.CrimePost_container p{
    font-size: 16px;
    color: #000;
    margin: 0;
    padding-right: 20px;
}
.CrimePost_container .cc_img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f9f9f9;
}
.CrimePost_bottom{
    padding-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.readMore_button{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.readMore_button p{
    margin: 0;
    font-weight: 500;
    color: #FF2365;
}
.readmore_icon{
    padding-top: 4px;
}
.vote_container{
    height: 30px;
    width: fit-content;
    padding: 0 15px;
    border-radius: 15px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.rmb_div{
    display: grid;
    justify-content: flex-end;
}
.vote_container_icon{
    padding-right: 10px;
    color: rgb(124, 124, 124);
}
.vote_container p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: rgb(124, 124, 124);
}